<!DOCTYPE html>
<html>
  <head>
    <title>Night Shift Arcade</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <div id="navbar-container">
      <%= link_to "/" do %>
        <div id="logo">
          <h1>Night</h1>
          <h1>Shift</h1>
          <h1>Arcade</h1>
        </div>
      <% end %>
      <% if !current_user %>
        <ul id="nav-menu">
          <%= link_to new_user_registration_path do %>
            <p class="nav-menu-item">Register <i class="fas fa-arrow-right"></i></p>
          <% end %>
          <%= link_to new_user_session_path do %>
            <p class="nav-menu-item">Log in <i class="fas fa-arrow-right"></i></p>
          <% end %>
        </ul>
      <% else %>
      <div id="nav-menu"> 
        <%= link_to user_path(current_user.slug) do %>
          <i class="fas fa-user"></i>
        <% end %>
        <%= button_to destroy_user_session_path, method: 'delete' do %>
          Sign Out
        <% end %>
        </div>
      <% end %>
      
    </div>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
