<!DOCTYPE html>
<html>
  <head>
    <title>Nsa</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
      <div id="navbar-container">
        <%= link_to "/" do %>
          Night Shift Arcade
        <% end %>
        
        <ul id="nav-menu">
          <%= link_to "/users/sign_up" do %>
            Sign Up
          <% end %>
          <%= link_to "/users/sign_in" do %>
            Sign In
          <% end %>
        </ul>
      </div>

      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
