<!DOCTYPE html>
<html>
  <head>
    <title>Nsa</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <div id="navbar-container">
      <%= link_to "/" do %>
        Night Shift Arcade
      <% end %>
      <% if !current_user %>
        <ul id="nav-menu">
          <%= link_to new_user_registration_path do %>
            Sign Up
          <% end %>
          <%= link_to new_user_session_path do %>
            Sign In
          <% end %>
        </ul>
      <% else %>
        <%= current_user.username %>
        <%= button_to destroy_user_session_path, method: 'delete' do %>
          Sign Out
        <% end %>
      <% end %>
    </div>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
